<div class="content home">
	<h2 class="heading">Welcome to the Countries & Capitals App!</h2>
	<div class="intro-paragraph">
    	<p>Powered by the <a href="http://www.geonames.org">geonames.org API</a>, this application allows the user to browse, or search by name, for any country in the world to discover useful information, including country code, capital city, area in kilometers squared, population, and the continent on which it is located.

    	Clicking on a country's name in the list will display further information, including an image of that country's flag, an image of the country's geographic shape, as well as a list of neighboring countries, if any.</p>
  	</div>
  	<a  class="hover-button" href="#/countries"><button class="button">Browse Countries</button></a>
</div>